<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Plan de Consumo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'/planesconsumo/' + ${nombre} + '/edit/save'}" th:object="${planconsumo}" method="post">
        <div th:replace="~{fragments/planconsumoForm :: planconsumoForm(titulo='Editar planconsumo', planconsumo=${planconsumo})}"></div>
    </form>
    
</body>
</html>