<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tipo de Habitacion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'/tiposhabitacion/' + ${nombre} + '/edit/save'}" th:object="${tipohabitacion}" method="post">
        <div th:replace="~{fragments/tipohabitacionForm :: tipohabitacionForm(titulo='Editar tipohabitacion', tipohabitacion=${tipohabitacion})}"></div>
    </form>
    
</body>
</html>