<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear nuevo tipo habitacion | HotelAndes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body style="background-image: url('https://wallpapercave.com/wp/wp2978951.jpg');">
    <form th:action="@{/tiposhabitacion/new/save}" method="post">
        <div th:replace="~{fragments/tipohabitacionForm :: tipohabitacionForm(titulo='Crear Tipo de Habitacion')}">
        </div>
    </form>
</body>
</html>